modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33723
externalPort = 3000

[[ports]]
localPort = 34219
externalPort = 3003

[[ports]]
localPort = 35591
externalPort = 8000

[[ports]]
localPort = 38467
externalPort = 6000

[[ports]]
localPort = 38661
externalPort = 3001

[[ports]]
localPort = 39043
externalPort = 5000

[[ports]]
localPort = 39207
externalPort = 5173

[[ports]]
localPort = 40627
externalPort = 4200

[[ports]]
localPort = 41391
externalPort = 6800

[[ports]]
localPort = 44625
externalPort = 3002

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[objectStorage]
defaultBucketID = "replit-objstore-01cff05e-983d-42f9-96df-a4f5eaab85ab"
